[user]
	email = movogelgesang@gmail.com
	name = mvogelgesang

[alias]
    # Adapted from https://blog.jez.io/cli-code-review/
    # List files which have changed since BASE
    # Set BASE in shell configuration or before the command
    files = !git diff --name-only $(git merge-base HEAD \"$BASE\")

    # With stat for interactive use
    stat = !git diff --stat $(git merge-base HEAD \"$BASE\")
    
    # Put heatmap on your path:
    # https://github.com/jez/git-heatmap/blob/master/git-heatmap
    heatmap = git-heatmap
   